/* General Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background: #41857f;
    color: #333;
    text-align: center;
}

/* Header Section */
header {
    background: #00281f;
    color: white;
    padding: 40px;
    
}
